{"swagger":"2.0","info":{"version":"1.0.0","title":"","description":""},"host":"api.gateway.attomdata.com","basePath":"/propertyapi/v1.0.0","schemes":["https"],"tags":[{"name":"Assessment "}],"consumes":["application/json","application/xml"],"produces":["application/xml","application/json"],"paths":{"/assessment/snapshot":{"get":{"tags":["Assessment "],"summary":"Returns properties based on their assessed value.","description":"Get a list of assessment snapshots that fall within a specific GeoID that were assessed at some value range between specified calendar dates.","operationId":"getAssessmentSnapshotAssessed","parameters":[{"name":"apikey","description":"Application Key","type":"string","required":true,"in":"header","default":"2b1e86b638620bf2404521e6e9e1b19e","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"geoid","description":"A list of geographies that this property belongs to. These geoIDs are used by search engine and values should not be exposed to the public.","type":"string","required":false,"in":"query","default":"CS0891007"},{"name":"startcalendardate","description":"The standardized date for search purposes","type":"string","format":"date","required":false,"in":"query","default":"2017-04-01"},{"name":"endcalendardate","description":"The standardized date for search purposes","type":"string","format":"date","required":false,"in":"query","default":"2018-07-01"},{"name":"minassdttlvalue","description":"The total assessed value from the local taxing authority","type":"string","required":false,"in":"query","default":"27700"},{"name":"maxassdttlvalue","description":"The total assessed value from the local taxing authority","type":"string","required":false,"in":"query","default":"483600"}],"responses":{"200":{"description":"list assessment snapshots for a specific GeoID"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/assessment/detail":{"get":{"tags":["Assessment "],"summary":"Returns assessment and property details.","description":"Get a full detail of property characteristics and assessment information for a specific property.","operationId":"assessmenDetailPostal","parameters":[{"name":"apikey","description":"Application Key","type":"string","required":true,"in":"header","default":"2b1e86b638620bf2404521e6e9e1b19e","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"468 SEQUOIA DR"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"SMYRNA, DE"}],"responses":{"200":{"description":"list of full detail record and assessment details for a specific address"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}}}}