{
    "swagger": "2.0",
    "basePath": "/v4/neighborhood/",
    "info": {
        "version": "4.0.0",
        "title": "",
        "description": ""
    },
    "host": "api.gateway.attomdata.com",
    "schemes": [
        "https"
    ],
    "tags": [
        {
            "name": "POI"
        }
    ],
    "consumes": [
        "application/json",
        "application/xml"
    ],
    "produces": [
        "application/xml",
        "application/json"
    ],
    "paths": {
        "/poi": {
            "get": {
                "tags": [
                    "POI"
                ],
                "summary": "POIs in proximity of a location.",
                "description": "Get points of interest near a location.",
                "operationId": "getPOI",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    },
                    {
                        "name": "point",
                        "description": "Point in WKT format",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "radius",
                        "description": "Search radius",
                        "type": "number",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Points of interest"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        },
        "/poi/categorylookup": {
            "get": {
                "tags": [
                    "POI"
                ],
                "summary": "Values used for category, lob, industry.",
                "description": "Get POI category lookup.",
                "operationId": "getPOICategoryLookup",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "POI category lookup"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        }
    }
}