{
    "swagger": "2.0",
    "basePath": "/v4/neighborhood/",
    "info": {
        "version": "2.0.0",
        "title": "",
        "description": ""
    },
    "host": "api.gateway.attomdata.com",
    "schemes": [
        "https"
    ],
    "tags": [
        {
            "name": "Community"
        }
    ],
    "consumes": [
        "application/json",
        "application/xml"
    ],
    "produces": [
        "application/xml",
        "application/json"
    ],
    "paths": {
        "/neighborhood/community": {
            "get": {
                "tags": [
                    "Community"
                ],
                "summary": "Community details.",
                "description": "Get community details.",
                "operationId": "getCommunity",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    },
                    {
                        "name": "attomid",
                        "description": "ATTOM ID",
                        "type": "integer",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Community details"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        },
        "/location/lookup": {
            "get": {
                "tags": [
                    "Community"
                ],
                "summary": "Location lookup.",
                "description": "Get location lookup.",
                "operationId": "getLocationLookup",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    },
                    {
                        "name": "search",
                        "description": "Search term",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Location lookup"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        }
    }
}