{
    "swagger": "2.0",
    "basePath": "/v4/parceltiles/",
    "info": {
        "version": "1.0.0",
        "title": "",
        "description": ""
    },
    "host": "api.gateway.attomdata.com",
    "schemes": [
        "https"
    ],
    "tags": [
        {
            "name": "Parcel Tiles"
        }
    ],
    "consumes": [
        "application/json",
        "application/xml"
    ],
    "produces": [
        "application/xml",
        "application/json"
    ],
    "paths": {
        "/{z}/{x}/{y}.format": {
            "get": {
                "tags": [
                    "Parcel Tiles"
                ],
                "summary": "Parcel tiles.",
                "description": "Get parcel tiles.",
                "operationId": "getParcelTiles",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    },
                    {
                        "name": "z",
                        "description": "Zoom level",
                        "type": "integer",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "name": "x",
                        "description": "X coordinate",
                        "type": "integer",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "name": "y",
                        "description": "Y coordinate",
                        "type": "integer",
                        "required": true,
                        "in": "path"
                    },
                    {
                        "name": "format",
                        "description": "Format",
                        "type": "string",
                        "required": true,
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Parcel tiles"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        }
    }
}