{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "",
    "description": ""
  },
  "host": "api.gateway.attomdata.com",
  "basePath": "/propertyapi/v1.0.0",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Sales History"
    }
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "produces": [
    "application/xml",
    "application/json"
  ],
  "paths": {
    "/saleshistory/snapshot": {
      "get": {
        "tags": [
          "Sales History"
        ],
        "summary": "Returns sales history for a property.",
        "description": "Get a sales history snapshot of a property based on an attom ID.",
        "operationId": "getSaleHistorySnapshotPropertyId",
        "parameters": [
          {
            "name": "apikey",
            "description": "Application Key",
            "type": "string",
            "required": true,
            "in": "header",
            "default": "2b1e86b638620bf2404521e6e9e1b19e",
            "x-data-threescale-name": "user_keys"
          },
          {
            "name": "accept",
            "description": "application/xml or application/json (default)",
            "type": "string",
            "required": false,
            "in": "header",
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "attomid",
            "description": "Unique attom identifier",
            "type": "string",
            "required": false,
            "in": "query",
            "default": "184713191"
          }
        ],
        "responses": {
          "200": {
            "description": "list of sales history snapshots by Property Id"
          },
          "403": {
            "description": "apikey invalid/missing"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/saleshistory/basichistory": {
      "get": {
        "tags": [
          "Sales History"
        ],
        "summary": "Returns basic transaction and loan history on a property.",
        "description": "Get the basic transaction and loan history on a property for a specific address.",
        "operationId": "saleHistoryBasicHistory",
        "parameters": [
          {
            "name": "apikey",
            "description": "Application Key",
            "type": "string",
            "required": true,
            "in": "header",
            "default": "2b1e86b638620bf2404521e6e9e1b19e",
            "x-data-threescale-name": "user_keys"
          },
          {
            "name": "accept",
            "description": "application/xml or application/json (default)",
            "type": "string",
            "required": false,
            "in": "header",
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "address1",
            "description": "The first line of the property address",
            "type": "string",
            "required": false,
            "in": "query",
            "default": "4529 Winona Court"
          },
          {
            "name": "address2",
            "description": "The second line of the property address",
            "type": "string",
            "required": false,
            "in": "query",
            "default": "Denver, CO"
          }
        ],
        "responses": {
          "200": {
            "description": "list of basic transaction and loan history on a property"
          },
          "403": {
            "description": "apikey invalid/missing"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/saleshistory/expandedhistory": {
      "get": {
        "tags": [
          "Sales History"
        ],
        "summary": "Returns detailed transaction, pre-foreclosure and loan history on a property.",
        "description": "Get the detailed transaction, pre-foreclosure and loan history on a property for a specific address.",
        "operationId": "saleHistoryExpandedHistory",
        "parameters": [
          {
            "name": "apikey",
            "description": "Application Key",
            "type": "string",
            "required": true,
            "in": "header",
            "default": "2b1e86b638620bf2404521e6e9e1b19e",
            "x-data-threescale-name": "user_keys"
          },
          {
            "name": "accept",
            "description": "application/xml or application/json (default)",
            "type": "string",
            "required": false,
            "in": "header",
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "address1",
            "description": "The first line of the property address",
            "type": "string",
            "required": false,
            "in": "query",
            "default": "4529 Winona Court"
          },
          {
            "name": "address2",
            "description": "The second line of the property address",
            "type": "string",
            "required": false,
            "in": "query",
            "default": "Denver, CO"
          }
        ],
        "responses": {
          "200": {
            "description": "list of detailed transaction, pre-foreclosure and loan history on a property."
          },
          "403": {
            "description": "apikey invalid/missing"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/saleshistory/detail": {
      "get": {
        "tags": [
          "Sales History"
        ],
        "summary": "Returns detailed sales history for a property.",
        "description": "Get a sales history details of a propertyon for a specific address.",
        "operationId": "saleHistoryDetail",
        "parameters": [
          {
            "name": "apikey",
            "description": "Application Key",
            "type": "string",
            "required": true,
            "in": "header",
            "default": "2b1e86b638620bf2404521e6e9e1b19e",
            "x-data-threescale-name": "user_keys"
          },
          {
            "name": "accept",
            "description": "application/xml or application/json (default)",
            "type": "string",
            "required": false,
            "in": "header",
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "address1",
            "description": "The first line of the property address",
            "type": "string",
            "required": false,
            "in": "query",
            "default": "4529 Winona Court"
          },
          {
            "name": "address2",
            "description": "The second line of the property address",
            "type": "string",
            "required": false,
            "in": "query",
            "default": "Denver, CO"
          }
        ],
        "responses": {
          "200": {
            "description": "list of detailed transaction, pre-foreclosure and loan history on a property."
          },
          "403": {
            "description": "apikey invalid/missing"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    }
  }
}
