{"swagger":"2.0","info":{"version":"1.0.0","title":"","description":""},"host":"api.gateway.attomdata.com","basePath":"/propertyapi/v1.0.0","schemes":["https"],"tags":[{"name":"AVM - We're moving to the Attomized AVM! New customers refer to the Attomized AVM API call below."}],"consumes":["application/json","application/xml"],"produces":["application/xml","application/json"],"paths":{"/avm/snapshot":{"get":{"tags":["AVM - We're moving to the Attomized AVM! New customers refer to the Attomized AVM API call below."],"summary":"Returns AVM details within a geography.","description":"Get a list of AVM snapshot records that fall within an GeoID with a specific value range. Use propertytpe to select a specific property type for your search.","operationId":"avmSnapshotGeoID","parameters":[{"name":"apikey","description":"Application Key","type":"string","required":true,"in":"header","default":"2b1e86b638620bf2404521e6e9e1b19e","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"geoid","description":"A list of geographies that this property belongs to. These geoIDs are used by search engine and values should not be exposed to the public","type":"string","required":false,"in":"query","default":"ZI80212"},{"name":"minavmvalue","description":"This represents the estimated low value for the property","type":"string","required":false,"in":"query","default":"514000"},{"name":"maxavmvalue","description":"This represents the estimated max value for the property","type":"string","required":false,"in":"query","default":"745000"},{"name":"propertytype","description":"A specific property classification such as 'Detached Single Family'","type":"string","required":false,"in":"query","enum":["AGRICULTURAL (NEC)","APARTMENT","CABIN","CLUB","COMMERCIAL (NEC)","COMMERCIAL BUILDING","COMMERCIAL CONDOMINIUM","COMMON AREA","CONDOMINIUM","CONVERTED RESIDENCE","COUNTY PROPERTY","DUPLEX","FARMS","FAST FOOD FRANCHISE","FEDERAL PROPERTY","FOREST","GROUP QUARTERS","INDUSTRIAL (NEC)","INDUSTRIAL PLANT","MANUFACTURED HOME","MARINA FACILITY","MISCELLANEOUS","MOBILE HOME","MOBILE HOME LOT","MOBILE HOME PARK","MULTI FAMILY DWELLING","NURSERY/HORTICULTURE","OFFICE BUILDING","PUBLIC (NEC)","RELIGIOUS","RESIDENTIAL (NEC)","RESIDENTIAL ACREAGE","RESIDENTIAL LOT","RETAIL TRADE","SFR","STATE PROPERTY","STORES \u0026 OFFICES","STORES \u0026 RESIDENTIAL","TAX EXEMPT","TOWNHOUSE/ROWHOUSE","TRIPLEX","UTILITIES","VACANT LAND (NEC)"]}],"responses":{"200":{"description":"list of avm snapshots based on GeoID"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}},"/avm/detail":{"get":{"tags":["AVM - We're moving to the Attomized AVM! New customers refer to the Attomized AVM API call below."],"summary":"Returns AVM details for a property.","description":"Get AVM details for a specific address.","operationId":"avmDetailPostal","parameters":[{"name":"apikey","description":"Application Key","type":"string","required":true,"in":"header","default":"2b1e86b638620bf2404521e6e9e1b19e","x-data-threescale-name":"user_keys"},{"name":"accept","description":"application/xml or application/json (default)","type":"string","required":false,"in":"header","enum":["application/xml","application/json"]},{"name":"address1","description":"The first line of the property address","type":"string","required":false,"in":"query","default":"4529 Winona Court"},{"name":"address2","description":"The second line of the property address","type":"string","required":false,"in":"query","default":"Denver, CO"}],"responses":{"200":{"description":"list of AVM detail record for a specific address"},"403":{"description":"apikey invalid/missing"},"default":{"description":"unexpected error"}}}}}}