{
    "swagger": "2.0",
    "basePath": "/v4/area",
    "info": {
        "version": "4.0.0",
        "title": "",
        "description": ""
    },
    "host": "api.gateway.attomdata.com",
    "schemes": [
        "https"
    ],
    "tags": [
        {
            "name": "Area"
        }
    ],
    "consumes": [
        "application/json",
        "application/xml"
    ],
    "produces": [
        "application/xml",
        "application/json"
    ],
    "paths": {
        "/boundary/detail": {
            "get": {
                "tags": [
                    "Area"
                ],
                "summary": "Returns the boundaries of the geography requested.",
                "description": "Get boundary details for a geography.",
                "operationId": "getBoundaryDetail",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    },
                    {
                        "name": "geoIdV4",
                        "description": "ATTOM GeoID V4",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "format",
                        "description": "Boundary format",
                        "type": "string",
                        "required": false,
                        "in": "query",
                        "enum": [
                            "geojson",
                            "wkt"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Boundary details"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        },
        "/hierarchy/lookup": {
            "get": {
                "tags": [
                    "Area"
                ],
                "summary": "Returns all boundaries a point falls within.",
                "description": "Get hierarchy lookup for a point.",
                "operationId": "getHierarchyLookup",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    },
                    {
                        "name": "WKTString",
                        "description": "Well Known Text string",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "geoType",
                        "description": "Geography type",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hierarchy lookup"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        },
        "/cbsa/lookup": {
            "get": {
                "tags": [
                    "Area"
                ],
                "summary": "Returns all CBSAs within a state.",
                "description": "Get CBSA lookup for a state.",
                "operationId": "getCBSALookup",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    },
                    {
                        "name": "StateId",
                        "description": "State ID",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CBSA lookup"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        },
        "/county/lookup": {
            "get": {
                "tags": [
                    "Area"
                ],
                "summary": "Returns all counties within a state.",
                "description": "Get county lookup for a state.",
                "operationId": "getCountyLookup",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    },
                    {
                        "name": "StateId",
                        "description": "State ID",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "County lookup"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        },
        "/state/lookup": {
            "get": {
                "tags": [
                    "Area"
                ],
                "summary": "Returns all states and their IDs.",
                "description": "Get state lookup.",
                "operationId": "getStateLookup",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "State lookup"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        },
        "/geoid/lookup/": {
            "get": {
                "tags": [
                    "Area"
                ],
                "summary": "Returns specific Geo IDs that exist within a specified Geo ID.",
                "description": "Get GeoID lookup.",
                "operationId": "getGeoIDLookup",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    },
                    {
                        "name": "geoIdV4",
                        "description": "ATTOM GeoID V4",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "GeoID lookup"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        },
        "/geoid/legacyLookup/": {
            "get": {
                "tags": [
                    "Area"
                ],
                "summary": "Returns a translation between legacy codes and new geography identifiers.",
                "description": "Get legacy GeoID lookup.",
                "operationId": "getGeoIDLegacyLookup",
                "parameters": [
                    {
                        "name": "apikey",
                        "x-data-threescale-name": "user_keys",
                        "description": "API Security Key",
                        "type": "string",
                        "required": true,
                        "in": "header",
                        "default": "2b1e86b638620bf2404521e6e9e1b19e"
                    },
                    {
                        "name": "accept",
                        "description": "application/xml or application/json (default)",
                        "type": "string",
                        "required": false,
                        "in": "header",
                        "enum": [
                            "application/xml",
                            "application/json"
                        ]
                    },
                    {
                        "name": "geoIdV4",
                        "description": "ATTOM GeoID V4",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Legacy GeoID lookup"
                    },
                    "403": {
                        "description": "apikey invalid/missing"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        }
    }
}